<div class="px-12 py-10 flex flex-col gap-4">
  
  <div class="flex flex-row gap-4">
    <strong class="underline text-xl">
     LIEU DE LA MISSION : 
    </strong>

    <p class="text-lg">   
    [[ lieu ]]
    </p>

  </div>

  <div class="flex flex-row gap-4">                         <strong class="underline text-xl">                   DATE DE LA MISSION :
        </strong>

        <p class="text-lg">
        [[ dato ]]
        </p>
      
  </div>

<div class="flex flex-row gap-4">                     
  <strong class="underline text-xl">                
  BUT DE LA MISSION :
   </strong>
  
   <p class="text-lg">
   [[ but ]]
   </p>

</div>


</div>
