<div class=" px-12">


<table class="w-full border-collapse border border-gray-500 border-solid">

  <thead>


    <thead>
      <tr>
        <th class="border border-gray-500 px-4 py-2">
        AVIS DU CHEF SGMA-3
        </th>

        <th class="border border-gray-500 px-4 py-2">
        AVIS DU CDT GST &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </th>

        <th class="border border-gray-500 px-4 py-2">
        DECISION DU CDT DE BASE
        </th>


      </tr>

    </thead>

    <tbody>
      <tr>
        <td class="border border-gray-500 text-center py-20 ">

        </td>

        <td class="border border-gray-500 text-center py-20 ">

        </td>

        <td class="border border-gray-500 text-center py-20">

        </td>

      </tr>

    </tbody>


</table>

</div>
